<p id="notice"></p>
<h1>Books</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
    </tbody>
</table>
 <h2>New book</h2>
 <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="authenticity_token" value="GnM90FM6buV/qy0HbFS1py2DOggHPiJTtV8CWXX22zCToVaR/IDFG17oSrE7M8KJi00u1bWnrUoLwqUmorzB0A==">
        <div class="field">
            <label for="book_title">Title</label>
            <input class="book_title" type="text" name="book[title]" id="book_title">
        </div>
        
        <div class="field"></div>
 </form>